VITE_FIREBASE_API_KEY=AIzaSyCmCfYLp9Mr4boLLgJFOGpQJjGToNXUp6k
VITE_FIREBASE_AUTH_DOMAIN=vendorbridge-9828b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vendorbridge-9828b
VITE_FIREBASE_STORAGE_BUCKET=vendorbridge-9828b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=394063464342
VITE_FIREBASE_APP_ID=1:394063464342:web:bbedfea2117464d496bfb7